replicaCount: 1

image:
  repository: 437537529252.dkr.ecr.us-east-1.amazonaws.com/scorecheck-frontend
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

env:
  VUE_APP_API_URL: https://scorecheck.ca/api
